@import "tailwindcss";

@theme {
    --color-yellow: #FAF49E;
    --color-red: #FAB49D;
    --color-darkerred: #eb9275;
    --color-green: #D2FA9E;

    --color-black: #282825;
    --color-brighterblack: #53534C;
    --color-darkerwhite: #D2D2C0;
    --color-white: #FDFCE7;
    --color-darkwhite: #A8A799;
    --color-brightblack: #7D7D73;
}